[Desktop Entry]
Type=Link
Name=QA_Monitor
Icon=/home/rane/Desktop/QA_machine_status_monitor/QA_icon.ico
URL=/home/rane/.local/share/applications/alacarte-made.desktop
